Hotels.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns="https://jarenharo.github.io/cse445_a4"
			targetNamespace="https://jarenharo.github.io/cse445_a4"
			elementFormDefault="qualified"
			attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation xml:lang="en"> Hotels Schema Assignment 4 </xsd:documentation>
	</xsd:annotation>
	<xsd:element name="Hotels" type="HotelsType"/>
	<xsd:complexType name ="HotelsType">
		<xsd:sequence>
			<xsd:element name="Hotel" type="HotelDetails" minOccurs="1" maxOccurs = "unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name ="HotelDetails">
		<xsd:sequence>
			<xsd:element name ="Name" type="xsd:string"/>
			<xsd:element name ="Phone" type ="PhoneType" minOccurs="1" maxOccurs="unbounded"/>
			<xsd:element name ="Address" type = "AddressType" minOccurs = "1" maxOccurs="1" />
		</xsd:sequence>
		<xsd:attribute name="Rating" type="xsd:double" use ="optional"/>
	</xsd:complexType>
	<xsd:complexType name ="AddressType">
		<xsd:sequence>
			<xsd:element name="Number" type="xsd:int"/>
			<xsd:element name="Street" type="xsd:string"/>
			<xsd:element name="City" type="xsd:string"/>
			<xsd:element name="State" type="StateCodeType"/>
			<xsd:element name="Zip" type="ZipCodeType"/>
		</xsd:sequence>
		<xsd:attribute name="NearestAirport" type="xsd:string"/>
	</xsd:complexType>
	<xsd:simpleType name ="StateCodeType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z][A-Z]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ZipCodeType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d+[A-Za-z]?"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name ="PhoneType">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\d{3}\-\d{3}-\d{4}"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>